/vendor
/node_modules
npm-debug.log

# Laravel
/public/hot
/public/storage
/public/img/user_uploads
/storage/*.key
.env
.env.backup
docker-compose.override.yml
Homestead.json
Homestead.yaml
yarn-error.log

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

# PHPStorm
.idea

# DS Store
.DS_Store

# PHPUnit result cache
.phpunit.result.cache

# laravel-ide-helper files. https://github.com/barryvdh/laravel-ide-helper
.phpstorm.meta.php
_ide_helper_models.php
_ide_helper.php
