# DS Store
.DS_Store

# Composer
/vendor

# Kurozora
/app/Models/KDashboard

# Laravel
/public/build
/public/hot
/public/storage
/public/images/user_uploads
/public/img/user_uploads
/storage/*.key
.env
.env.backup
.env.production

# Docker
docker-compose.override.yml

# Homestead
Homestead.json
Homestead.yaml
auth.json

# NodeJS
/node_modules
npm-debug.log

# YARN
yarn-error.log

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

# Phpactor
.phpactor.json

# PHP-CS-Fixer
.php-cs-fixer.cache

# PHP-Stan
build
phpstan*.neon

# PHPStorm
/.fleet
/.idea
/.vscode

# PHPUnit result cache
/.phpunit.cache
.run
.phpunit.result.cache

# laravel-ide-helper files. https://github.com/barryvdh/laravel-ide-helper
.phpstorm.meta.php
_ide_helper_models.php
_ide_helper.php
/nova/*
!/nova/.gitkeep
public/vendor/nova*
#!nova/composer.json

# Python
__pycache__
