// Tailwind CSS
@tailwind base;
html {
  @apply bg-center
  bg-cover
  bg-fixed
  bg-no-repeat
  h-full;
}

body {
  @apply h-full
  leading-snug
  tracking-tight;
}

footer {
  @apply bg-black
  bg-opacity-25;
}

a {
  @apply text-orange-500;
}
a:hover {
  @apply underline;
}

h1 {
  @apply text-4xl;
}
h2 {
  @apply text-2xl;
}
h3 {
  @apply text-xl;
}
h4 {
  @apply text-lg;
}
h5 {
  @apply text-base;
}
h6 {
  @apply text-sm;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-semibold
  mb-2
  text-gray-900;
}

li {
  @apply mb-1;
}

p {
  @apply mb-4;
}
p + h1, ul + h1, ol + h1,
p + h2, ul + h2, ol + h2,
p + h3, ul + h3, ol + h3,
p + h4, ul + h4, ol + h4,
p + h5, ul + h5, ol + h5,
p + h6, ul + h6, ol + h6 {
  @apply mt-6;
}

ul, menu, dir {
  @apply list-disc;
}

.kurozora-btn {
  @apply bg-orange-500
  border-0
  border-none
  cursor-pointer
  font-bold
  no-underline
  px-4
  py-1
  rounded-full
  shadow-lg
  text-center
  text-white
  uppercase;
}

.kurozora-btn:hover {
  @apply bg-orange-400
  no-underline;
}

.anime-poster {
  @apply bg-center
  bg-cover
  bg-no-repeat
  border-2
  border-gray-100
  border-opacity-25
  rounded-lg
  shadow-lg;
}
@tailwind components;
@tailwind utilities;

html {
  font-family: -apple-system, "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

body {
  color: #333333;
  quotes: "“" "”";
}

footer {
  -webkit-backdrop-filter: blur(17px);
  backdrop-filter: blur(17px);
}

ul, ol {
  margin: 1em 0 1em 1.1em;
}

.anime-poster {
  margin: 10px auto 0;
  width: 180px;
  height: 268px;
  background-size: 180px 268px; // ratio 45:67
}

.user-avatar-preview {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 50%;
  margin: 10px auto 0;
  width: 150px;
  height: 150px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
