.show-reel-carousel {
    height: 280px;
}

.show-reel-carousel .show {
    background-position: center;
    background-size: cover;

    -webkit-transition: ease-in-out 0.1s;
    -moz-transition: ease-in-out 0.1s;
    -ms-transition: ease-in-out 0.1s;
    -o-transition: ease-in-out 0.1s;
    transition: ease-in-out 0.1s;
}
    .show-reel-carousel .show:hover .show-title {
        display: block;
    }
    .show-reel-carousel .show:hover {
        cursor: pointer;
    }
    .show-reel-carousel .show .show-title {
        color: #fff;
        text-shadow: 2px 2px 2px #000;
        position: absolute;
        bottom: 0;
        font-size: 25px;
        font-family: 'Rubik', sans-serif;

        display: none;
    }