@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

#kurozora-logo {
	width: 150px;
	height: 150px;
}

.kurozora-btn {
	background-color: #f2a248;
	border: 0;
	width: 200px;
	border-radius: 500px;
	margin: 10px auto;
	font-size: 14px;
	font-family: Arial, serif;
	display: block;
	padding: 5px 10px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.kurozora-title {
	font-size: 30px;
	text-align: center;
	color: rgba(255, 255, 255, 0.85);
	margin: 0;
}

.kurozora-under-title {
	font-size: 18px;
	text-align: center;
	color: lightgray;
	text-decoration: underline;
	margin: 0;
}

.kurozora-paragraph {
	color: #fff;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	max-height: 500px;
	padding: 5px 10px;
	overflow-y: scroll;
}

.anime-poster {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: 10px auto 0;
	width: 150px;
	height: 225px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user-avatar-preview {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 50%;
	margin: 10px auto 0;
	width: 150px;
	height: 150px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.middle-div {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 15px;
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.back-safe-link {
	display: block;
	color: #fff;
	text-decoration: underline;
	text-align: center;
	font-size: 16px;
}
	.back-safe-link:hover {
		color: #bbb;
	}