files:
  /etc/systemd/system/laravel_worker@.service:
    mode: "000644"
    owner: root
    group: root
    content: |
      [Unit]
      Description=Laravel queue worker, instance %i
      
      [Service]
      User=root
      Group=root
      TimeoutStartSec=10
      RestartSec=10
      Restart=always
      ExecStart=/usr/bin/nohup /usr/bin/php /var/app/current/artisan queue:work --daemon
      
      [Install]
      WantedBy=multi-user.target

commands:
  remove_old_cron:
    command: "rm -f /etc/systemd/system/laravel_worker@.service.bak"
