{
  "openapi": "3.0.3",
  "info": {
    "description": "Integrate tracking shows with Kurozora content.\n *** \nThe Kurozora API is a web service that lets you access information about the media found in the Kurozora&nbsp;Catalog and the user's personal Kurozora&nbsp;Library. Here's what each one includes:\n- The Kurozora&nbsp;Catalog includes all resources available in Kurozora.\n- The user's Kurozora&nbsp;Library contains only those resources that the user added to their personal library. For example, it contains shows added to their tracking list, and favorites.\n\nUse this service to retrieve information about people, characters, episodes, seasons, genres, shows, studios, feeds, users, and the users' library.\nWith proper authorization from the user, you can also create or modify their library, apply ratings to shows, create or modify feeds and react on replies.",
    "version": "1.2.0",
    "title": "Kurozora API",
    "termsOfService": "https://swagger.io/terms/",
    "contact": {
      "email": "kurozoraapp@gmail.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://api.kurozora.app/v1",
      "description": "Kurozora LIVE"
    },
    {
      "url": "https://api.kurozora-web.test/v1",
      "description": "Kurozora LOCAL"
    }
  ],
  "tags": [
    {
      "name": "explore",
      "description": "Everything explore page related"
    },
    {
      "name": "anime",
      "description": "Everything anime related"
    },
    {
      "name": "characters",
      "description": "Everything character related"
    },
    {
      "name": "episodes",
      "description": "Everything episodes related"
    },
    {
      "name": "genres",
      "description": "Everything genre related"
    },
    {
      "name": "people",
      "description": "Everything people related"
    },
    {
      "name": "seasons",
      "description": "Everything seasons related"
    },
    {
      "name": "studios",
      "description": "Everything studio related"
    },
    {
      "name":"feed",
      "description":"Everything feed related"
    },
    {
      "name": "me",
      "description": "Endpoints related to the authenticated user."
    },
    {
      "name": "users",
      "description": "Everything user related"
    },
    {
      "name": "themes",
      "description": "Everything theme related"
    },
    {
      "name": "store",
      "description": "All store endpoints"
    },
    {
      "name": "legal",
      "description": "All legal endpoints"
    },
    {
      "name": "misc",
      "description": "All other endpoints"
    }
  ],
  "paths": {
    "/explore": {
      "get": {
        "security": [
          {
          },
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "explore"
        ],
        "operationId": "getExplore",
        "summary": "(optional authentication) Explore page.",
        "description": "This endpoint will retrieve the details to for the explore page.",
        "parameters": [
          {
            "in": "query",
            "name": "genre_id",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "ID of the genre to filter on."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/anime/{animeID}": {
      "get": {
        "security": [
          {
          },
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "anime"
        ],
        "operationId": "getAnime",
        "summary": "(optional authentication) Anime details.",
        "description": "This endpoint will retrieve the details of an Anime item.",
        "parameters": [
          {
            "in": "path",
            "name": "animeID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the anime."
          },
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            },
            "explode": false,
            "required": false,
            "description": "The relations to include in the response. Available relations are:\n- cast\n- characters\n- related-shows\n- seasons\n- staff\n- studios"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetAnimeSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/anime/{animeID}/cast": {
      "get": {
        "tags": [
          "anime"
        ],
        "operationId": "getAnimeCast",
        "summary": "Anime cast information.",
        "description": "This endpoint will retrieve the casts of an Anime item.",
        "parameters": [
          {
            "in": "path",
            "name": "animeID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the anime."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetAnimeCastSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/anime/{animeID}/characters": {
      "get": {
        "tags": [
          "anime"
        ],
        "operationId": "getAnimeCharacters",
        "summary": "Anime character information.",
        "description": "This endpoint will retrieve the characters of an Anime item.",
        "parameters": [
          {
            "in": "path",
            "name": "animeID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the anime."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetAnimeCharactersSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/anime/{animeID}/related-shows": {
      "get": {
        "security": [
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "anime"
        ],
        "operationId": "getAnimeRelatedShows",
        "summary": "Anime related-shows information.",
        "description": "This endpoint will retrieve the related-shows of an Anime item.",
        "parameters": [
          {
            "in": "path",
            "name": "animeID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the anime."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetAnimeRelatedShowsSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/anime/{animeID}/rate": {
      "post": {
        "security": [
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "anime"
        ],
        "operationId": "postAnimeRate",
        "summary": "Rate an Anime.",
        "description": "This endpoint will allow user's to leave a rating for an Anime.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "rating": {
                    "type": "number",
                    "format": "double",
                    "description": "The rating to leave.",
                    "example": 3.5,
                    "minimum": 1,
                    "maximum": 5
                  }
                },
                "required": [
                  "rating"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "animeID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the anime."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/anime/{animeID}/seasons": {
      "get": {
        "tags": [
          "anime"
        ],
        "operationId": "getSeasons",
        "summary": "Anime all seasons information.",
        "description": "This endpoint will retrieve the seasons of an Anime item.",
        "parameters": [
          {
            "in": "path",
            "name": "animeID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the anime."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetSeasonsSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/anime/{animeID}/staff": {
      "get": {
        "tags": [
          "anime"
        ],
        "operationId": "getAnimeStaff",
        "summary": "Anime staff information.",
        "description": "This endpoint will retrieve the staff of an Anime item.",
        "parameters": [
          {
            "in": "path",
            "name": "animeID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the anime."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetAnimeStaffSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/anime/{animeID}/studios": {
      "get": {
        "tags": [
          "anime"
        ],
        "operationId": "getAnimeStudios",
        "summary": "Anime studio information.",
        "description": "This endpoint will retrieve the studios of an Anime item.",
        "parameters": [
          {
            "in": "path",
            "name": "animeID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the anime."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetAnimeStudiosSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/anime/search": {
      "get": {
        "security": [
          {
          },
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "anime"
        ],
        "operationId": "getAnimeSearch",
        "summary": "(optional authentication) Searches Anime.",
        "description": "This endpoint will retrieve the search results for Anime.\n<h3><strong>TIP: You can prefix your search with \"id:\" to search for Anime with a specific ID.</strong></h3>",
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "The search query."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetAnimeSearchSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/seasons/{seasonID}": {
      "get": {
        "tags": [
          "seasons"
        ],
        "operationId": "getSeasonsDetails",
        "summary": "Get specific season details.",
        "description": "This endpoint will retrieve the details of a specific season.",
        "parameters": [
          {
            "in": "path",
            "name": "seasonID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the season."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetSeasonsDetailsSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/seasons/{seasonID}/episodes": {
      "get": {
        "security": [
          {
          },
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "seasons"
        ],
        "operationId": "getSeasonsEpisodes",
        "summary": "Retrieve season episodes.",
        "description": "This endpoint will retrieve the episodes in a certain season.",
        "parameters": [
          {
            "in": "path",
            "name": "seasonID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the season."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetSeasonsEpisodesSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/episodes/{episodeID}": {
      "get": {
        "security": [
          {
          },
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "episodes"
        ],
        "operationId": "getEpisodesDetails",
        "summary": "Get specific episode details.",
        "description": "This endpoint will retrieve the details of a specific episode.",
        "parameters": [
          {
            "in": "path",
            "name": "episodeID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the episode."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetEpisodesDetailsSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/episodes/{episodeID}/watched": {
      "post": {
        "security": [
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "episodes"
        ],
        "operationId": "postEpisodesWatched",
        "summary": "Marks an episode as \"watched\" or \"not watched\".",
        "description": "This endpoint will updated the watched status for an episode.",
        "parameters": [
          {
            "in": "path",
            "name": "episodeID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the episode."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostEpisodesWatchedSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/characters/{characterID}": {
      "get": {
        "security": [
          {
          },
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "characters"
        ],
        "operationId": "getCharactersDetails",
        "summary": "Get character details.",
        "description": "This endpoint will retrieve the details of a specific character.",
        "parameters": [
          {
            "in": "path",
            "name": "characterID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the character."
          },
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            },
            "explode": false,
            "required": false,
            "description": "The relations to include in the response. Available relations are:\n- shows\n- people"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCharactersDetailsSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/characters/{characterID}/people": {
      "get": {
        "tags": [
          "characters"
        ],
        "operationId": "getCharactersPeople",
        "summary": "Get character people.",
        "description": "This endpoint will retrieve the people of a specific character.",
        "parameters": [
          {
            "in": "path",
            "name": "characterID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the character."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCharactersPeopleSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/characters/{characterID}/anime": {
      "get": {
        "security": [
          {
          },
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "characters"
        ],
        "operationId": "getCharactersAnime",
        "summary": "Get character anime.",
        "description": "This endpoint will retrieve the anime of a specific character.",
        "parameters": [
          {
            "in": "path",
            "name": "characterID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the character."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCharactersAnimeSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/genres": {
      "get": {
        "tags": [
          "genres"
        ],
        "operationId": "getGenres",
        "summary": "Genres list.",
        "description": "This endpoint will retrieve the genres.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetGenresSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/genres/{genreID}": {
      "get": {
        "tags": [
          "genres"
        ],
        "operationId": "getGenreDetails",
        "summary": "Get genre details.",
        "description": "This endpoint will retrieve the details of a specific genre.",
        "parameters": [
          {
            "in": "path",
            "name": "genreID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the genre."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetGenresDetailsSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/people/{personID}": {
      "get": {
        "security": [
          {
          },
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "people"
        ],
        "operationId": "getPeopleDetails",
        "summary": "Get person details.",
        "description": "This endpoint will retrieve the details for a person.",
        "parameters": [
          {
            "in": "path",
            "name": "personID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the person."
          },
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            },
            "explode": false,
            "required": false,
            "description": "The relations to include in the response. Available relations are:\n- characters\n- shows"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetPeopleDetailsSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/people/{personID}/anime": {
      "get": {
        "security": [
          {
          },
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "people"
        ],
        "operationId": "getPeopleAnime",
        "summary": "Get person anime.",
        "description": "This endpoint will retrieve the anime of a specific person.",
        "parameters": [
          {
            "in": "path",
            "name": "personID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the person."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetPeopleAnimeSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/people/{personID}/characters": {
      "get": {
        "tags": [
          "people"
        ],
        "operationId": "getPeopleCharacters",
        "summary": "Person character information.",
        "description": "This endpoint will retrieve the characters of a Person item.",
        "parameters": [
          {
            "in": "path",
            "name": "personID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the person."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetPeopleCharactersSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/feed": {
      "post": {
        "security":[
          {
            "kurozoraBearer":[

            ]
          }
        ],
        "tags":[
          "feed"
        ],
        "operationId": "postFeed",
        "summary":"Creates a new message on the feed.",
        "description":"This endpoint will create a new message on the feed.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type":"object",
                "properties": {
                  "body": {
                    "type":"string",
                    "description":"Text in the feed message."
                  },
                  "parent_id": {
                    "type":"integer",
                    "description":"ID of the feed message the user is replying to. Omit if not a reply.",
                    "nullable": false
                  },
                  "is_reply": {
                    "$ref": "#/components/schemas/ReplyStatus"
                  },
                  "is_reshare": {
                    "$ref": "#/components/schemas/Re-shareStatus"
                  },
                  "is_nsfw": {
                    "$ref": "#/components/schemas/NSFWStatus"
                  },
                  "is_spoiler": {
                    "$ref": "#/components/schemas/SpoilerStatus"
                  }
                },
                "required":[
                  "body",
                  "is_nsfw",
                  "is_spoiler"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref":"#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref":"#/components/responses/JSONError"
          }
        }
      }
    },
    "/feed/explore": {
      "get": {
        "security": [
          {

          },
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "feed"
        ],
        "operationId": "getFeedExplore",
        "summary": "(optional authentication) Explore feed posts.",
        "description": "This endpoint will retrieve the an unpersonalised feed.",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/feed/home": {
      "get": {
        "security": [
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "feed"
        ],
        "operationId": "getFeedHome",
        "summary": "Get the user's personal feed",
        "description": "This endpoint will retrieve the authenticated user's personal feed.",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/feed/messages/{messageID}": {
      "get": {
        "security": [
          {
          },
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "feed"
        ],
        "operationId": "getFeedMessagesDetails",
        "summary": "Get the feed message's details",
        "description": "This endpoint will retrieve a feed message's details.",
        "parameters": [
          {
            "in": "path",
            "name": "messageID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the message."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/feed/messages/{messageID}/replies": {
      "get": {
        "security": [
          {
          },
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "feed"
        ],
        "operationId": "getFeedMessagesReplies",
        "summary": "Get the feed message's replies",
        "description": "This endpoint will retrieve a feed message's replies.",
        "parameters": [
          {
            "in": "path",
            "name": "messageID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the message."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/feed/messages/{messageID}/heart": {
      "post": {
        "security": [
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "feed"
        ],
        "operationId": "postFeedMessagesHeart",
        "summary": "Heart or un-heart a feed message.",
        "description": "This endpoint will heart or un-heart a feed message.",
        "parameters": [
          {
            "in": "path",
            "name": "messageID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the message."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/me": {
      "get": {
        "security": [
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "me"
        ],
        "operationId": "getMe",
        "summary": "Authenticated user profile details.",
        "description": "This endpoint will retrieve the details of the authenticated user's profile.",
        "parameters": [
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      },
      "post": {
        "security": [
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "me"
        ],
        "operationId": "postMe",
        "summary": "Updates profile information.",
        "description": "This endpoint will update the authenticated user's profile information.",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "The new username to set. Send only if user is allowed to change username."
                  },
                  "biography": {
                    "type": "string",
                    "description": "The new biography to set. Send <strong>null</strong> to remove."
                  },
                  "profileImage": {
                    "type": "string",
                    "format": "binary",
                    "description": "The new user's profile image. Send <strong>null</strong> to remove."
                  },
                  "bannerImage": {
                    "type": "string",
                    "format": "binary",
                    "description": "The new user's banner image. Send <strong>null</strong> to remove."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/me/favorite-anime": {
      "get": {
        "security": [
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "me"
        ],
        "operationId": "getMeFavoriteAnime",
        "summary": "Get an overview of favorites.",
        "description": "This endpoint will retrieve the list of anime in the authenticated user's favorites.",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      },
      "post": {
        "security": [
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "me"
        ],
        "operationId": "postMeFavoriteAnime",
        "summary": "Add or remove from favorites.",
        "description": "This endpoint will add or remove an anime to/from the authenticated user's favorites.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "anime_id": {
                    "type": "integer",
                    "description": "The ID of the Anime to add."
                  }
                },
                "required": [
                  "anime_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/me/feed-messages": {
      "get": {
        "security": [
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "me"
        ],
        "operationId": "getMeFeedMessages",
        "summary": "Get feed messages.",
        "description": "This endpoint will retrieve the authenticated user's feed messages.",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/me/followers": {
      "get": {
        "security": [
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "me"
        ],
        "operationId": "getMeFollowers",
        "summary": "Fetch followers list.",
        "description": "This endpoint will retrieve the authenticated user's followers list.",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/me/following": {
      "get": {
        "security": [
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "me"
        ],
        "operationId": "getMeFollowing",
        "summary": "Fetch following list.",
        "description": "This endpoint will retrieve the authenticated user's following list.",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/me/library": {
      "get": {
        "security": [
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "me"
        ],
        "operationId": "getMeLibrary",
        "summary": "Get an overview of the library.",
        "description": "This endpoint will retrieve the list of anime in the authenticated user's library.",
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "schema": {
              "$ref": "#/components/schemas/LibraryStatus"
            },
            "required": true,
            "description": "The status to retrieve the library items for."
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Available sorting options:\n- title(asc/desc)\n- age(newest/oldest)\n- rating(worst/best)\n- my-rating(worst/best)"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      },
      "post": {
        "security": [
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "me"
        ],
        "operationId": "postMeLibrary",
        "summary": "Add an anime to the library.",
        "description": "This endpoint will add to the list of anime in the authenticated user's library.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "anime_id": {
                    "type": "integer",
                    "description": "The ID of the Anime to add."
                  },
                  "status": {
                    "$ref": "#/components/schemas/LibraryStatus"
                  }
                },
                "required": [
                  "anime_id",
                  "status"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/me/library/mal-import": {
      "post": {
        "security": [
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "me"
        ],
        "operationId": "postMeLibraryMALImport",
        "summary": "Import a MAL export file.",
        "description": "This endpoint will import a MAL export file into the authenticated user's library.",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The MAL export file"
                  },
                  "behavior": {
                    "$ref": "#/components/schemas/MALImportBehavior"
                  }
                },
                "required": [
                  "file",
                  "behavior"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/me/library/delete": {
      "post": {
        "security": [
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "me"
        ],
        "operationId": "postMeLibraryDelete",
        "summary": "Remove an anime from library.",
        "description": "This endpoint will remove an anime from the authenticated user's library.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "anime_id": {
                    "type": "integer",
                    "description": "The ID of the Anime to remove."
                  }
                },
                "required": [
                  "anime_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/me/library/search": {
      "get": {
        "security": [
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "me"
        ],
        "operationId": "getMeLibrarySearch",
        "summary": "Search in library.",
        "description": "This endpoint will retrieve the search results of anime in the authenticated user's library.",
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "The search query."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/me/notifications": {
      "get": {
        "security": [
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "me"
        ],
        "operationId": "getMeNotifications",
        "summary": "Authenticated user's list of notifications.",
        "description": "This endpoint will retrieve the list of the authenticated user's notifications.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/me/notifications/{notificationUUID}": {
      "get": {
        "security": [
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "me"
        ],
        "operationId": "getMeNotificationsDetails",
        "summary": "Get a notification's details.",
        "description": "This endpoint will retrieve the details of a notification.",
        "parameters": [
          {
            "in": "path",
            "name": "notificationUUID",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "UUID of the notification to be retrieved."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetMeNotificationsDetailsSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/me/notifications/{notificationUUID}/delete": {
      "post": {
        "security": [
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "me"
        ],
        "operationId": "getMeNotificationsDelete",
        "summary": "Delete a notification.",
        "description": "This endpoint will delete the authenticated user's notification.",
        "parameters": [
          {
            "in": "path",
            "name": "notificationUUID",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "UUID of the notification to be deleted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/me/notifications/update": {
      "post": {
        "security": [
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "me"
        ],
        "operationId": "postMeNotificationsUpdate",
        "summary": "Update a notification's status.",
        "description": "This endpoint will update the status of a single, multiple or all notifications of the authenticated user.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "notification": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1,
                    "uniqueItems": true,
                    "description": "The UUID of the notification to update. Use \"all\" to update all of the user's notifications."
                  },
                  "read": {
                    "$ref": "#/components/schemas/NotificationReadStatus"
                  }
                },
                "required": [
                  "notification",
                  "read"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostMeNotificationsUpdateSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/me/reminder-anime": {
      "get": {
        "security": [
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "me"
        ],
        "summary": "Get an overview reminders.",
        "description": "This endpoint will retrieve the list of anime in the authenticated user's reminder list.",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      },
      "post": {
        "security": [
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "me"
        ],
        "summary": "Add or remove reminders.",
        "description": "This endpoint will add or remove to/from the list of anime in an authenticated user's reminders.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "anime_id": {
                    "type": "integer",
                    "description": "The ID of the Anime to add or remove."
                  }
                },
                "required": [
                  "anime_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/me/reminder-anime/download": {
      "get": {
        "security": [
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "me"
        ],
        "summary": "Download reminders.",
        "description": "This endpoint will retrieve the calendar file with anime in the authenticated user's reminder list.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/me/sessions": {
      "get": {
        "security": [
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "me"
        ],
        "operationId": "getMeSessions",
        "summary": "Get a list of sessions.",
        "description": "This endpoint will retrieve a list of sessions for the authenticated user.",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/me/sessions/{sessionID}": {
      "get": {
        "security": [
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "me"
        ],
        "operationId": "getMeSessionsSession",
        "summary": "Fetch session details.",
        "description": "This endpoint will retrieve the details of a session.",
        "parameters": [
          {
            "in": "path",
            "name": "sessionID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the session to be retrieved."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetSessionsSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/me/sessions/{sessionID}/update": {
      "post": {
        "security": [
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "me"
        ],
        "operationId": "postMeSessionsUpdate",
        "summary": "Updates session.",
        "description": "This endpoint will update the information of an authenticated user's session.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "apn_device_token": {
                    "type": "string",
                    "description": "The new APN device token for the session."
                  }
                },
                "required": [
                  "apn_device_token"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "sessionID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the session to be updated."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostSessionsUpdateSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/me/sessions/{sessionID}/delete": {
      "post": {
        "security": [
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "me"
        ],
        "operationId": "postMeSessionsDelete",
        "summary": "Delete a session.",
        "description": "This endpoint will delete an authenticated user's session.",
        "parameters": [
          {
            "in": "path",
            "name": "sessionID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the session to be deleted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostSessionsDeleteSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/studios/{studioID}": {
      "get": {
        "security": [
          {
          },
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "studios"
        ],
        "operationId": "getStudiosDetails",
        "summary": "(Optional authentication) Get studio details.",
        "description": "This endpoint will retrieve the details of a specific studio.",
        "parameters": [
          {
            "in": "path",
            "name": "studioID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the studio."
          },
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            },
            "explode": false,
            "required": false,
            "description": "The relations to include in the response. Available relations are:\n- shows"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetStudiosDetailsSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/studios/{studioID}/anime": {
      "get": {
        "security": [
          {
          },
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "studios"
        ],
        "operationId": "getStudiosAnime",
        "summary": "(Optional authentication) Get studio anime details.",
        "description": "This endpoint will retrieve the anime details for a studio.",
        "parameters": [
          {
            "in": "path",
            "name": "studioID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the studio."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetStudiosAnimeSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/themes": {
      "get": {
        "security": [
          {
          },
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "themes"
        ],
        "operationId": "getThemes",
        "summary": "Retrieve an overview of themes.",
        "description": "This endpoint will retrieve an overview of themes.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetThemesSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/themes/{themeID}": {
      "get": {
        "security": [
          {
          },
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "themes"
        ],
        "operationId": "getThemesDetails",
        "summary": "Get specific theme details.",
        "description": "This endpoint will retrieve the details of a specific theme.",
        "parameters": [
          {
            "in": "path",
            "name": "themeID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the theme."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetThemesDetailsSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/users": {
      "post": {
        "tags": [
          "users"
        ],
        "operationId": "postUsers",
        "summary": "Register a new user",
        "description": "This endpoint will create a new user based on the given details.",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "The new user's username",
                    "example": "Kurozora"
                  },
                  "password": {
                    "type": "string",
                    "description": "The new user's password"
                  },
                  "email": {
                    "type": "string",
                    "description": "The new user's email"
                  },
                  "profileImage": {
                    "type": "string",
                    "format": "binary",
                    "description": "The new user's profile image"
                  }
                },
                "required": [
                  "username",
                  "password",
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/users/signin": {
      "post": {
        "tags": [
          "users"
        ],
        "operationId": "postSignIn",
        "summary": "Sign in to account.",
        "description": "This endpoint will sign in a user to their account.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "The user's email address"
                  },
                  "password": {
                    "type": "string",
                    "description": "The user's password"
                  },
                  "platform": {
                    "type": "string",
                    "description": "The platform that was used to create the session",
                    "example": "iOS"
                  },
                  "platform_version": {
                    "type": "string",
                    "description": "The platform version that was used to create the session",
                    "example": "13.4"
                  },
                  "device_vendor": {
                    "type": "string",
                    "description": "The device vendor that was used to create the session",
                    "example": "Apple"
                  },
                  "device_model": {
                    "type": "string",
                    "description": "The device model that was used to create the session",
                    "example": "iPhone 11 Pro Max"
                  }
                },
                "required": [
                  "email",
                  "password",
                  "platform",
                  "platform_version",
                  "device_vendor",
                  "device_model"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostSessionsSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/users/siwa/signin": {
      "post": {
        "tags": [
          "users"
        ],
        "operationId": "postSiwASignIn",
        "summary": "Sign in or sign up a user using Sign in with Apple.",
        "description": "This endpoint will sign in or sign up a user using Sign in with Apple.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "The identity token (JWT) as provided by Apple"
                  },
                  "platform": {
                    "type": "string",
                    "description": "The platform that was used to create the session",
                    "example": "iOS"
                  },
                  "platform_version": {
                    "type": "string",
                    "description": "The platform version that was used to create the session",
                    "example": "13.4"
                  },
                  "device_vendor": {
                    "type": "string",
                    "description": "The device vendor that was used to create the session",
                    "example": "Apple"
                  },
                  "device_model": {
                    "type": "string",
                    "description": "The device model that was used to create the session",
                    "example": "iPhone 11 Pro Max"
                  }
                },
                "required": [
                  "token",
                  "platform",
                  "platform_version",
                  "device_vendor",
                  "device_model"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/users/reset-password": {
      "post": {
        "tags": [
          "users"
        ],
        "operationId": "postResetPassword",
        "summary": "Request a password reset for a user",
        "description": "This endpoint will send an email to the user to reset their password.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "The email of the user to request a password reset."
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/users/{userID}/favorite-anime": {
      "get": {
        "security": [
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "users"
        ],
        "operationId": "getUsersFavoriteAnime",
        "summary": "Get an overview of the user's favorite Anime",
        "description": "This endpoint will retrieve the list of Anime in the user's favorites list.",
        "parameters": [
          {
            "in": "path",
            "name": "userID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the user."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/users/{userID}/feed-messages": {
      "get": {
        "security": [
          {
          },
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "users"
        ],
        "operationId": "getUsersFeedMessages",
        "summary": "Get feed messages.",
        "description": "This endpoint will retrieve the user's feed messages.",
        "parameters": [
          {
            "in": "path",
            "name": "userID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the user."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/users/{userID}/profile": {
      "get": {
        "security": [
          {
          },
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "users"
        ],
        "operationId": "getUsersProfile",
        "summary": "(optional authentication) User profile details.",
        "description": "This endpoint will retrieve the details of a user's profile.",
        "parameters": [
          {
            "in": "path",
            "name": "userID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the user."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/users/{userID}/follow": {
      "post": {
        "security": [
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "users"
        ],
        "operationId": "postUsersFollow",
        "summary": "Follow or unfollow another user",
        "description": "This endpoint will follow or unfollow another user.",
        "parameters": [
          {
            "in": "path",
            "name": "userID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the user."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/users/{userID}/followers": {
      "get": {
        "security": [
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "users"
        ],
        "operationId": "getUsersFollowers",
        "summary": "Fetch followers list.",
        "description": "This endpoint will retrieve the user's followers list.",
        "parameters": [
          {
            "in": "path",
            "name": "userID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the user."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/users/{userID}/following": {
      "get": {
        "security": [
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "users"
        ],
        "operationId": "getUsersFollowing",
        "summary": "Fetch following list.",
        "description": "This endpoint will retrieve the user's following list.",
        "parameters": [
          {
            "in": "path",
            "name": "userID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the user."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/users/search": {
      "get": {
        "security": [
          {
          },
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "users"
        ],
        "operationId": "getUsersSearch",
        "summary": "(optional authentication) Searches users.",
        "description": "This endpoint will retrieve the search results for users.\n<h3><strong>TIP: You can prefix your search with \"id:\" to search for a user with a specific ID.</strong></h3>",
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "The search query."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/store": {
      "get": {
        "tags": [
          "store"
        ],
        "operationId": "getStore",
        "summary": "Fetch store products.",
        "description": "This endpoint will retrieve the available products from the store",
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "schema": {
              "$ref": "#/components/schemas/StoreProductType"
            },
            "required": false,
            "description": "The type of products to fetch.\n- 0: Consumable\n- 1: Non-Consumable\n- 2: Non-Renewing Subscription\n- 3: Auto-Renewing Subscription"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/store/verify": {
      "post": {
        "security": [
          {
            "kurozoraBearer": [
            ]
          }
        ],
        "tags": [
          "store"
        ],
        "operationId": "postStoreVerify",
        "summary": "Verify receipt",
        "description": "This endpoint will verify the receipt for authenticity.",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "receipt": {
                    "type": "string",
                    "description": "The Base64 encoded receipt data."
                  }
                },
                "required": [
                  "receipt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/legal/privacy-policy": {
      "get": {
        "tags": [
          "legal"
        ],
        "operationId": "getPrivacyPolicy",
        "summary": "Retrieve latest Privacy Policy.",
        "description": "This endpoint will retrieve the latest Privacy Policy.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetPrivacyPolicySuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/legal/terms-of-use": {
      "get": {
        "tags": [
          "legal"
        ],
        "operationId": "getTermsOfUse",
        "summary": "Retrieve latest Terms of Use.",
        "description": "This endpoint will retrieve the latest Terms of Use.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetTermsOfUseSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/info": {
      "get": {
        "tags": [
          "misc"
        ],
        "operationId": "getInfo",
        "summary": "API info.",
        "description": "Plain API JSON response.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LibraryStatus": {
        "type": "string",
        "enum": [
          "Watching",
          "Dropped",
          "Planning",
          "Completed",
          "OnHold"
        ],
        "default": "Watching",
        "description": "The set of available library status types."
      },
      "MALImportBehavior": {
        "type": "integer",
        "enum": [
          0,
          1
        ],
        "default": 1,
        "description": "The set of available MAL import behavior types.\n- 0 = overwrite\n- 1 = merge"
      },
      "NotificationReadStatus": {
        "type": "integer",
        "enum": [
          0,
          1
        ],
        "default": 1,
        "description": "The notification read status used to mark a notification as read or unread.\n- 0 = unread\n- 1 = read"
      },
      "NSFWStatus": {
        "type": "integer",
        "enum": [
          0,
          1
        ],
        "default": 0,
        "description": "Whether the message contains NSFW material.\n- 0 = no NSFW\n- 1 = NSFW"
      },
      "Re-shareStatus": {
        "type": "integer",
        "enum": [
          0,
          1
        ],
        "default": 0,
        "description": "Whether the message is a re-share. If it's a re-share then parent_id cannot be empty.\n- 0 = not re-share\n- 1 = re-share"
      },
      "ReplyStatus": {
        "type": "integer",
        "enum": [
          0,
          1
        ],
        "default": 0,
        "description": "Whether the message is a reply or not. If it's a reply then parent_id cannot be empty.\n- 0 = not reply\n- 1 = reply"
      },
      "SpoilerStatus": {
        "type": "integer",
        "enum": [
          0,
          1
        ],
        "default": 0,
        "description": "Whether the message contains spoiler material.\n- 0 = no spoiler\n- 1 = spoiler"
      },
      "StoreProductType": {
        "type": "integer",
        "enum": [
          0,
          1,
          2,
          3
        ],
        "description": "The set of available store product types.\n- 0: Consumable\n- 1: Non-Consumable\n- 2: Non-Renewing Subscription\n- 3: Auto-Renewing Subscription"
      },
      "VoteType": {
        "type": "integer",
        "enum": [
          -1,
          1
        ],
        "default": 1,
        "description": "The vote type to submit. Submitting the same vote type twice will undo the vote.\n- -1 = dislike\n- 1 = like"
      }
    },
    "securitySchemes": {
      "kurozoraBearer": {
        "type": "apiKey",
        "in": "header",
        "name": "kuro-auth"
      }
    },
    "responses": {
      "JSONSuccess": {
        "description": "Successful Kurozora JSON response",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "example": {
                "meta": {
                  "version": "1.0.8",
                  "queryCount": 0,
                  "isUserAuthenticated": false,
                  "authenticatedUserID": null
                }
              }
            }
          }
        }
      },
      "JSONError": {
        "description": "Error Kurozora JSON response",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "example": {
                "meta": {
                  "version": "1.0.8",
                  "queryCount": 0,
                  "isUserAuthenticated": false,
                  "authenticatedUserID": null
                },
                "errors": [
                  {
                    "id": 40001,
                    "status": 401,
                    "title": "Unauthorized",
                    "detail": "The request wasn’t accepted due to an issue with the kuro-auth token or because it’s using incorrect authentication."
                  }
                ]
              }
            }
          }
        }
      },
      "GetMeNotificationsDetailsSuccess": {
        "description": "Successful POST Notifications Details JSON response",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "example": {
                "data": {
                  "id": "1094845f-c175-462d-8aec-9bbad4af232f",
                  "type": "notifications",
                  "href": "/v1/me/notifications/1094845f-c175-462d-8aec-9bbad4af232f",
                  "attributes": {
                    "type": "NewSession",
                    "isRead": true,
                    "data": {
                      "ip": "127.0.0.1",
                      "session_id": 2
                    },
                    "string": "A new client has logged in to your account. (IP: 127.0.0.1)",
                    "createdAt": "2020-07-27 13:57:12"
                  }
                }
              }
            }
          }
        }
      },
      "PostMeNotificationsUpdateSuccess": {
        "description": "Successful POST Notifications Update JSON response",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "example": {
                "data": {
                  "isRead": true,
                  "amount_updated": 1
                }
              }
            }
          }
        }
      },
      "GetPeopleDetailsSuccess": {
        "description": "Successful GET People Details JSON response",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "example": {
                "data": [
                  {
                    "id": 1,
                    "type": "people",
                    "href": "/v1/people/1",
                    "attributes": {
                      "firstName": "Alvera",
                      "lastName": null,
                      "givenName": null,
                      "familyName": "中村",
                      "alternativeNames": [
                        "sunt"
                      ],
                      "about": null,
                      "imageURL": "https://via.placeholder.com/640x480.png/009955?text=et",
                      "websiteURL": null
                    }
                  }
                ]
              }
            }
          }
        }
      },
      "GetPeopleAnimeSuccess": {
        "description": "Successful GET People Anime JSON response",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "example": {
                "data": [
                  {
                    "id": 227,
                    "type": "show",
                    "href": "/v1/anime/227",
                    "attributes": {
                      "anidbID": null,
                      "anilistID": null,
                      "kitsuID": null,
                      "imdbID": null,
                      "malID": null,
                      "title": "Molestias quibusdam voluptas non et cupiditate.",
                      "tagline": "Sed ipsum ducimus et expedita alias.",
                      "synopsis": "Atque vel voluptas rerum omnis asperiores. Animi laboriosam voluptatum rerum et optio quas. Suscipit quos numquam a non eos beatae ducimus. Dolore doloribus quasi voluptates libero.",
                      "tvRating": {
                        "name": "TV-Y7",
                        "description": "facere culpa voluptatum"
                      },
                      "mediaType": {
                        "name": "OVA",
                        "description": "Original Video Animation in home video formats."
                      },
                      "source": {
                        "name": "Music",
                        "description": "Adapted from a music video."
                      },
                      "network": null,
                      "producer": null,
                      "episodeCount": 0,
                      "seasonCount": 0,
                      "averageRating": 0,
                      "ratingCount": 0,
                      "videoUrl": null,
                      "poster": null,
                      "background": null,
                      "firstAired": "1993-07-18",
                      "lastAired": "1993-10-10",
                      "runtime": 25,
                      "airStatus": "Continuing",
                      "airTime": "21:59:00",
                      "airDay": "Monday",
                      "isNSFW": false,
                      "copyright": "℗ 1979 Ernser, Jerde and Hoppe",
                      "givenRating": 0,
                      "libraryStatus": null,
                      "isFavorited": null,
                      "isReminded": null
                    }
                  },
                  {
                    "id": 229,
                    "type": "show",
                    "href": "/v1/anime/229",
                    "attributes": {
                      "anidbID": null,
                      "anilistID": null,
                      "kitsuID": null,
[...]
