{
  "openapi": "3.0.3",
  "info": {
    "description": "Integrate tracking shows with Kurozora content.\n *** \nThe Kurozora API is a web service that lets you access information about the media found in the Kurozora&nbsp;Catalog and the user's personal Kurozora&nbsp;Library. Here's what each one includes:\n- The Kurozora&nbsp;Catalog includes all resources available in Kurozora.\n- The user's Kurozora&nbsp;Library contains only those resources that the user added to their personal library. For example, it contains shows added to their tracking list, and favorites.\n\nUse this service to retrieve information about characters, episodes, feeds, games, genres, manga, people, seasons, shows, studios, users, and the users' library.\nWith proper authorization from the user, you can also create or modify their library, apply ratings to shows, create or modify feeds and react on replies.",
    "version": "1.4.0",
    "title": "Kurozora API",
    "termsOfService": "https://kurozora.app/legal/terms-of-use",
    "contact": {
      "email": "kurozoraapp@gmail.com"
    }
  },
  "servers": [
    {
      "url": "https://api.kurozora.app/v1",
      "description": "Kurozora LIVE"
    },
    {
      "url": "https://api.kurozora.test/v1",
      "description": "Kurozora LOCAL"
    }
  ],
  "tags": [
    {
      "name": "explore",
      "description": "Everything explore page related"
    },
    {
      "name": "anime",
      "description": "Everything anime related"
    },
    {
      "name": "games",
      "description": "Everything games related"
    },
    {
      "name": "manga",
      "description": "Everything manga related"
    },
    {
      "name": "schedule",
      "description": "Everything schedule related"
    },
    {
      "name": "images",
      "description": "Everything image related"
    },
    {
      "name": "cast",
      "description": "Everything cast related"
    },
    {
      "name": "characters",
      "description": "Everything character related"
    },
    {
      "name": "episodes",
      "description": "Everything episodes related"
    },
    {
      "name":"feed",
      "description":"Everything feed related"
    },
    {
      "name": "genres",
      "description": "Everything genre related"
    },
    {
      "name": "me",
      "description": "Endpoints related to the authenticated user."
    },
    {
      "name": "people",
      "description": "Everything people related"
    },
    {
      "name": "search",
      "description": "Everything search related"
    },
    {
      "name": "seasons",
      "description": "Everything seasons related"
    },
    {
      "name": "studios",
      "description": "Everything studio related"
    },
    {
      "name": "themes",
      "description": "Everything themes related"
    },
    {
      "name": "theme-store",
      "description": "Everything platform theme related"
    },
    {
      "name": "users",
      "description": "Everything user related"
    },
    {
      "name": "store",
      "description": "All store endpoints"
    },
    {
      "name": "legal",
      "description": "All legal endpoints"
    },
    {
      "name": "myanimelist",
      "description": "Endpoints for finding anime or manga using the MyAnimeList ID"
    },
    {
      "name": "misc",
      "description": "All other endpoints"
    }
  ],
  "paths": {
    "/explore": {
      "get": {
        "security": [
          {
          },
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "explore"
        ],
        "operationId": "getExplore",
        "summary": "(optional authentication) Explore page.",
        "description": "This endpoint will retrieve the explore page.",
        "parameters": [
          {
            "in": "query",
            "name": "genre_id",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "ID of the genre to filter on."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/explore/{exploreCategoryID}": {
      "get": {
        "security": [
          {
          },
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "explore"
        ],
        "operationId": "getExploreDetails",
        "summary": "(optional authentication) Explore category details.",
        "description": "This endpoint will retrieve the details to for the explore category.",
        "parameters": [
          {
            "in": "path",
            "name": "exploreCategoryID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the explore category."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/anime/{animeID}": {
      "get": {
        "security": [
          {
          },
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "anime"
        ],
        "operationId": "getAnime",
        "summary": "(optional authentication) Anime details.",
        "description": "This endpoint will retrieve the details of an Anime item.",
        "parameters": [
          {
            "in": "path",
            "name": "animeID",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the anime."
          },
          {
            "in": "query",
            "name": "include[]",
            "schema": {
              "$ref": "#/components/schemas/AnimeRelation"
            },
            "required": false,
            "description": "The relations to include in the response."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetAnimeSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/anime/{animeID}/cast": {
      "get": {
        "tags": [
          "anime"
        ],
        "operationId": "getAnimeCast",
        "summary": "Anime cast information.",
        "description": "This endpoint will retrieve the casts of an Anime item.",
        "parameters": [
          {
            "in": "path",
            "name": "animeID",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the anime."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetAnimeCastSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/anime/{animeID}/characters": {
      "get": {
        "tags": [
          "anime"
        ],
        "operationId": "getAnimeCharacters",
        "summary": "Anime character information.",
        "description": "This endpoint will retrieve the characters of an Anime item.",
        "parameters": [
          {
            "in": "path",
            "name": "animeID",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the anime."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetAnimeCharactersSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/anime/{animeID}/related-shows": {
      "get": {
        "security": [
          {
          },
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "anime"
        ],
        "operationId": "getAnimeRelatedShows",
        "summary": "Anime related-shows information.",
        "description": "This endpoint will retrieve the related-shows of an Anime item.",
        "parameters": [
          {
            "in": "path",
            "name": "animeID",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the anime."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetAnimeRelatedShowsSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/anime/{animeID}/related-literatures": {
      "get": {
        "security": [
          {
          },
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "anime"
        ],
        "operationId": "getAnimeRelatedLiteratures",
        "summary": "Anime related-literatures information.",
        "description": "This endpoint will retrieve the related-literatures of an Anime item.",
        "parameters": [
          {
            "in": "path",
            "name": "animeID",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the anime."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetAnimeRelatedLiteraturesSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/anime/{animeID}/related-games": {
      "get": {
        "security": [
          {
          },
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "anime"
        ],
        "operationId": "getAnimeRelatedGames",
        "summary": "Anime related-games information.",
        "description": "This endpoint will retrieve the related-games of an Anime item.",
        "parameters": [
          {
            "in": "path",
            "name": "animeID",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the anime."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetAnimeRelatedGamesSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/anime/{animeID}/rate": {
      "post": {
        "security": [
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "anime"
        ],
        "operationId": "postAnimeRate",
        "summary": "Rate an Anime.",
        "description": "This endpoint will allow user's to leave a rating for an Anime.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "rating": {
                    "type": "number",
                    "format": "double",
                    "description": "The rating to leave.",
                    "example": 2.5,
                    "minimum": 0,
                    "maximum": 5
                  },
                  "description": {
                    "type": "string",
                    "description": "The description accompanying the rating."
                  }
                },
                "required": [
                  "rating"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "animeID",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the anime."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/anime/{animeID}/seasons": {
      "get": {
        "tags": [
          "anime"
        ],
        "operationId": "getSeasons",
        "summary": "Anime all seasons information.",
        "description": "This endpoint will retrieve the seasons of an Anime item.",
        "parameters": [
          {
            "in": "path",
            "name": "animeID",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the anime."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetSeasonsSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/anime/{animeID}/staff": {
      "get": {
        "tags": [
          "anime"
        ],
        "operationId": "getAnimeStaff",
        "summary": "Anime staff information.",
        "description": "This endpoint will retrieve the staff of an Anime item.",
        "parameters": [
          {
            "in": "path",
            "name": "animeID",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the anime."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetAnimeStaffSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/anime/{animeID}/studios": {
      "get": {
        "tags": [
          "anime"
        ],
        "operationId": "getAnimeStudios",
        "summary": "Anime studio information.",
        "description": "This endpoint will retrieve the studios of an Anime item.",
        "parameters": [
          {
            "in": "path",
            "name": "animeID",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the anime."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetAnimeStudiosSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/anime/upcoming": {
      "get": {
        "security": [
          {
          },
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "anime"
        ],
        "operationId": "getAnimeUpcoming",
        "summary": "Upcoming anime information.",
        "description": "This endpoint will retrieve the upcoming Anime items.",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetAnimeUpcomingSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/games/{gameID}": {
      "get": {
        "security": [
          {
          },
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "games"
        ],
        "operationId": "getGame",
        "summary": "(optional authentication) Game details.",
        "description": "This endpoint will retrieve the details of an Game item.",
        "parameters": [
          {
            "in": "path",
            "name": "gameID",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the game."
          },
          {
            "in": "query",
            "name": "include[]",
            "schema": {
              "$ref": "#/components/schemas/GameRelation"
            },
            "required": false,
            "description": "The relations to include in the response."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetGameSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/games/{gameID}/cast": {
      "get": {
        "tags": [
          "games"
        ],
        "operationId": "getGameCast",
        "summary": "Game cast information.",
        "description": "This endpoint will retrieve the casts of an Game item.",
        "parameters": [
          {
            "in": "path",
            "name": "gameID",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the game."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetGameCastSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/games/{gameID}/characters": {
      "get": {
        "tags": [
          "games"
        ],
        "operationId": "getGameCharacters",
        "summary": "Game character information.",
        "description": "This endpoint will retrieve the characters of an Game item.",
        "parameters": [
          {
            "in": "path",
            "name": "gameID",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the game."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetGameCharactersSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/games/{gameID}/related-shows": {
      "get": {
        "security": [
          {
          },
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "games"
        ],
        "operationId": "getGameRelatedShows",
        "summary": "Game related-shows information.",
        "description": "This endpoint will retrieve the related-shows of an Game item.",
        "parameters": [
          {
            "in": "path",
            "name": "gameID",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the game."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetGameRelatedShowsSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/games/{gameID}/related-literatures": {
      "get": {
        "security": [
          {
          },
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "games"
        ],
        "operationId": "getGameRelatedLiteratures",
        "summary": "Game related-literatures information.",
        "description": "This endpoint will retrieve the related-literatures of an Game item.",
        "parameters": [
          {
            "in": "path",
            "name": "gameID",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the game."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetGameRelatedLiteraturesSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/games/{gameID}/related-games": {
      "get": {
        "security": [
          {
          },
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "games"
        ],
        "operationId": "getGameRelatedGames",
        "summary": "Game related-games information.",
        "description": "This endpoint will retrieve the related-games of an Game item.",
        "parameters": [
          {
            "in": "path",
            "name": "gameID",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the game."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetGameRelatedGamesSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/games/{gameID}/rate": {
      "post": {
        "security": [
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "games"
        ],
        "operationId": "postGameRate",
        "summary": "Rate an Game.",
        "description": "This endpoint will allow user's to leave a rating for an Game.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "rating": {
                    "type": "number",
                    "format": "double",
                    "description": "The rating to leave.",
                    "example": 2.5,
                    "minimum": 0,
                    "maximum": 5
                  },
                  "description": {
                    "type": "string",
                    "description": "The description accompanying the rating."
                  }
                },
                "required": [
                  "rating"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "gameID",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the game."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/games/{gameID}/staff": {
      "get": {
        "tags": [
          "games"
        ],
        "operationId": "getGameStaff",
        "summary": "Game staff information.",
        "description": "This endpoint will retrieve the staff of an Game item.",
        "parameters": [
          {
            "in": "path",
            "name": "gameID",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the game."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetGameStaffSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/games/{gameID}/studios": {
      "get": {
        "tags": [
          "games"
        ],
        "operationId": "getGameStudios",
        "summary": "Game studio information.",
        "description": "This endpoint will retrieve the studios of an Game item.",
        "parameters": [
          {
            "in": "path",
            "name": "gameID",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the game."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetGameStudiosSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/games/upcoming": {
      "get": {
        "security": [
          {
          },
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "games"
        ],
        "operationId": "getGameUpcoming",
        "summary": "Upcoming game information.",
        "description": "This endpoint will retrieve the upcoming Game items.",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetGameUpcomingSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/manga/{mangaID}": {
      "get": {
        "security": [
          {
          },
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "manga"
        ],
        "operationId": "getManga",
        "summary": "(optional authentication) Manga details.",
        "description": "This endpoint will retrieve the details of an Manga item.",
        "parameters": [
          {
            "in": "path",
            "name": "mangaID",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the manga."
          },
          {
            "in": "query",
            "name": "include[]",
            "schema": {
              "$ref": "#/components/schemas/MangaRelation"
            },
            "required": false,
            "description": "The relations to include in the response."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetMangaSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/manga/{mangaID}/cast": {
      "get": {
        "tags": [
          "manga"
        ],
        "operationId": "getMangaCast",
        "summary": "Manga cast information.",
        "description": "This endpoint will retrieve the casts of an Manga item.",
        "parameters": [
          {
            "in": "path",
            "name": "mangaID",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the manga."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetMangaCastSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/manga/{mangaID}/characters": {
      "get": {
        "tags": [
          "manga"
        ],
        "operationId": "getMangaCharacters",
        "summary": "Manga character information.",
        "description": "This endpoint will retrieve the characters of an Manga item.",
        "parameters": [
          {
            "in": "path",
            "name": "mangaID",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the manga."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetMangaCharactersSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/manga/{mangaID}/related-shows": {
      "get": {
        "security": [
          {
          },
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "manga"
        ],
        "operationId": "getMangaRelatedShows",
        "summary": "Manga related-shows information.",
        "description": "This endpoint will retrieve the related-shows of an Manga item.",
        "parameters": [
          {
            "in": "path",
            "name": "mangaID",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the manga."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetMangaRelatedShowsSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/manga/{mangaID}/related-literatures": {
      "get": {
        "security": [
          {
          },
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "manga"
        ],
        "operationId": "getMangaRelatedLiteratures",
        "summary": "Manga related-literatures information.",
        "description": "This endpoint will retrieve the related-literatures of an Manga item.",
        "parameters": [
          {
            "in": "path",
            "name": "mangaID",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the manga."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetMangaRelatedLiteraturesSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/manga/{mangaID}/related-games": {
      "get": {
        "security": [
          {
          },
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "manga"
        ],
        "operationId": "getMangaRelatedGames",
        "summary": "Manga related-games information.",
        "description": "This endpoint will retrieve the related-games of an Manga item.",
        "parameters": [
          {
            "in": "path",
            "name": "mangaID",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the manga."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetMangaRelatedGamesSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/manga/{mangaID}/rate": {
      "post": {
        "security": [
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "manga"
        ],
        "operationId": "postMangaRate",
        "summary": "Rate an Manga.",
        "description": "This endpoint will allow user's to leave a rating for an Manga.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "rating": {
                    "type": "number",
                    "format": "double",
                    "description": "The rating to leave.",
                    "example": 2.5,
                    "minimum": 0,
                    "maximum": 5
                  },
                  "description": {
                    "type": "string",
                    "description": "The description accompanying the rating."
                  }
                },
                "required": [
                  "rating"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "mangaID",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the manga."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/manga/{mangaID}/staff": {
      "get": {
        "tags": [
          "manga"
        ],
        "operationId": "getMangaStaff",
        "summary": "Manga staff information.",
        "description": "This endpoint will retrieve the staff of an Manga item.",
        "parameters": [
          {
            "in": "path",
            "name": "mangaID",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the manga."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetMangaStaffSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/manga/{mangaID}/studios": {
      "get": {
        "tags": [
          "manga"
        ],
        "operationId": "getMangaStudios",
        "summary": "Manga studio information.",
        "description": "This endpoint will retrieve the studios of an Manga item.",
        "parameters": [
          {
            "in": "path",
            "name": "mangaID",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the manga."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetMangaStudiosSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/manga/upcoming": {
      "get": {
        "security": [
          {
          },
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "manga"
        ],
        "operationId": "getMangaUpcoming",
        "summary": "Upcoming manga information.",
        "description": "This endpoint will retrieve the upcoming Manga items.",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetMangaUpcomingSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/schedule": {
      "get": {
        "security": [
          {
          },
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "schedule"
        ],
        "operationId": "getSchedule",
        "summary": "Get schedule results.",
        "description": "This endpoint will return schedule results for the specified query.",
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "schema": {
              "$ref": "#/components/schemas/ScheduleKind"
            },
            "required": true,
            "description": "The schedule type."
          },
          {
            "in": "query",
            "name": "date",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Format: Y-m-d\nThe start date of the schedule. Keep empty for current date."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetScheduleSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/search": {
      "get": {
        "security": [
          {
          },
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "search"
        ],
        "operationId": "getSearch",
        "summary": "Get search results.",
        "description": "This endpoint will return search results for the specified query.",
        "parameters": [
          {
            "in": "query",
            "name": "scope",
            "schema": {
              "$ref": "#/components/schemas/SearchScope"
            },
            "required": true,
            "description": "The scope of the search."
          },
          {
            "in": "query",
            "name": "types[]",
            "schema": {
              "$ref": "#/components/schemas/SearchType"
            },
            "required": true,
            "description": "The types used to perform the search."
          },
          {
            "in": "query",
            "name": "query",
            "schema": {
              "type": "string",
              "example": "one piece",
              "minimum": 1
            },
            "required": true,
            "description": "The search query."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 25
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 25."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetSearchSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/seasons/{seasonID}": {
      "get": {
        "tags": [
          "seasons"
        ],
        "operationId": "getSeasonsDetails",
        "summary": "Get specific season details.",
        "description": "This endpoint will retrieve the details of a specific season.",
        "parameters": [
          {
            "in": "path",
            "name": "seasonID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the season."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetSeasonsDetailsSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/seasons/{seasonID}/episodes": {
      "get": {
        "security": [
          {
          },
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "seasons"
        ],
        "operationId": "getSeasonsEpisodes",
        "summary": "Retrieve season episodes.",
        "description": "This endpoint will retrieve the episodes in a certain season.",
        "parameters": [
          {
            "in": "path",
            "name": "seasonID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the season."
          },
          {
            "in": "query",
            "name": "hide_fillers",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0,
              "minimum": 0,
              "maximum": 1
            },
            "required": false,
            "description": "Indicates whether filler episodes should be included.\n- 0 = Include fillers\n- 1 = No fillers"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetSeasonsEpisodesSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/seasons/{seasonID}/watched": {
      "post": {
        "security": [
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "seasons"
        ],
        "operationId": "postSeasonsWatched",
        "summary": "Marks the episodes of a season as \"watched\" or \"not watched\".",
        "description": "This endpoint will updated the watched status for the episodes of a season.",
        "parameters": [
          {
            "in": "path",
            "name": "seasonID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the season."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostSeasonsWatchedSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/episodes/{episodeID}": {
      "get": {
        "security": [
          {
          },
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "episodes"
        ],
        "operationId": "getEpisodesDetails",
        "summary": "Get specific episode details.",
        "description": "This endpoint will retrieve the details of a specific episode.",
        "parameters": [
          {
            "in": "path",
            "name": "episodeID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the episode."
          },
          {
            "in": "query",
            "name": "include[]",
            "schema": {
              "$ref": "#/components/schemas/EpisodeRelation"
            },
            "required": false,
            "description": "The relations to include in the response."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetEpisodesDetailsSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/episodes/{episodeID}/watched": {
      "post": {
        "security": [
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "episodes"
        ],
        "operationId": "postEpisodesWatched",
        "summary": "Marks an episode as \"watched\" or \"not watched\".",
        "description": "This endpoint will updated the watched status for an episode.",
        "parameters": [
          {
            "in": "path",
            "name": "episodeID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the episode."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostEpisodesWatchedSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/episodes/{episodeID}/rate": {
      "post": {
        "security": [
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "episodes"
        ],
        "operationId": "postEpisodeRate",
        "summary": "Rate an Episode.",
        "description": "This endpoint will allow user's to leave a rating for an Episode.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "rating": {
                    "type": "number",
                    "format": "double",
                    "description": "The rating to leave.",
                    "example": 2.5,
                    "minimum": 0,
                    "maximum": 5
                  },
                  "description": {
                    "type": "string",
                    "description": "The description accompanying the rating."
                  }
                },
                "required": [
                  "rating"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "episodeID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the episode."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/characters/{characterID}": {
      "get": {
        "security": [
          {
          },
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "characters"
        ],
        "operationId": "getCharactersDetails",
        "summary": "Get character details.",
        "description": "This endpoint will retrieve the details of a specific character.",
        "parameters": [
          {
            "in": "path",
            "name": "characterID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the character."
          },
          {
            "in": "query",
            "name": "include[]",
            "schema": {
              "$ref": "#/components/schemas/CharacterRelation"
            },
            "required": false,
            "description": "The relations to include in the response."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCharactersDetailsSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/characters/{characterID}/people": {
      "get": {
        "tags": [
          "characters"
        ],
        "operationId": "getCharactersPeople",
        "summary": "Get character people.",
        "description": "This endpoint will retrieve the people of a specific character.",
        "parameters": [
          {
            "in": "path",
            "name": "characterID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the character."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCharactersPeopleSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/characters/{characterID}/anime": {
      "get": {
        "security": [
          {
          },
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "characters"
        ],
        "operationId": "getCharactersAnime",
        "summary": "Get character anime.",
        "description": "This endpoint will retrieve the anime of a specific character.",
        "parameters": [
          {
            "in": "path",
            "name": "characterID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the character."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCharactersAnimeSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/genres": {
      "get": {
        "tags": [
          "genres"
        ],
        "operationId": "getGenres",
        "summary": "Genres list.",
        "description": "This endpoint will retrieve the genres.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetGenresSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/genres/{genreID}": {
      "get": {
        "tags": [
          "genres"
        ],
        "operationId": "getGenreDetails",
        "summary": "Get genre details.",
        "description": "This endpoint will retrieve the details of a specific genre.",
        "parameters": [
          {
            "in": "path",
            "name": "genreID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the genre."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetGenresDetailsSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/images/random": {
      "get": {
        "tags": [
          "images"
        ],
        "operationId": "getRandomImages",
        "summary": "Random images.",
        "description": "This endpoint will retrieve random images.",
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "schema": {
              "$ref": "#/components/schemas/MediaType"
            },
            "required": true,
            "description": "The type of images to retrieve."
          },
          {
            "in": "query",
            "name": "collection",
            "schema": {
              "$ref": "#/components/schemas/MediaCollection"
            },
            "required": true,
            "description": "The collection of images to retrieve."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 12,
              "minimum": 1,
              "maximum": 25
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCastSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/cast/{castID}": {
      "get": {
        "tags": [
          "cast"
        ],
        "operationId": "getCast",
        "summary": "Cast details.",
        "description": "This endpoint will retrieve the details of a cast.",
        "parameters": [
          {
            "in": "path",
            "name": "castID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the cast."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCastSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/people/{personID}": {
      "get": {
        "security": [
          {
          },
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "people"
        ],
        "operationId": "getPeopleDetails",
        "summary": "Get person details.",
        "description": "This endpoint will retrieve the details for a person.",
        "parameters": [
          {
            "in": "path",
            "name": "personID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the person."
          },
          {
            "in": "query",
            "name": "include[]",
            "schema": {
              "$ref": "#/components/schemas/PersonRelation"
            },
            "required": false,
            "description": "The relations to include in the response."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetPeopleDetailsSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/people/{personID}/anime": {
      "get": {
        "security": [
          {
          },
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "people"
        ],
        "operationId": "getPeopleAnime",
        "summary": "Get person anime.",
        "description": "This endpoint will retrieve the anime of a specific person.",
        "parameters": [
          {
            "in": "path",
            "name": "personID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the person."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetPeopleAnimeSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/people/{personID}/characters": {
      "get": {
        "tags": [
          "people"
        ],
        "operationId": "getPeopleCharacters",
        "summary": "Person character information.",
        "description": "This endpoint will retrieve the characters of a Person item.",
        "parameters": [
          {
            "in": "path",
            "name": "personID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the person."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetPeopleCharactersSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/themes": {
      "get": {
        "tags": [
          "themes"
        ],
        "operationId": "getThemes",
        "summary": "Themes list.",
        "description": "This endpoint will retrieve the themes.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetThemesSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/themes/{themeID}": {
      "get": {
        "tags": [
          "themes"
        ],
        "operationId": "getThemeDetails",
        "summary": "Get theme details.",
        "description": "This endpoint will retrieve the details of a specific theme.",
        "parameters": [
          {
            "in": "path",
            "name": "themeID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the theme."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetThemesDetailsSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          }
        }
      }
    },
    "/feed": {
      "post": {
        "security": [
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags":[
          "feed"
        ],
        "operationId": "postFeed",
        "summary":"Creates a new message on the feed.",
        "description":"This endpoint will create a new message on the feed.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type":"object",
                "properties": {
                  "body": {
                    "type":"string",
                    "description":"Text in the feed message."
                  },
                  "parent_id": {
                    "type":"integer",
                    "description":"ID of the feed message the user is replying to. Omit if not a reply.",
                    "nullable": false
                  },
                  "is_reply": {
                    "$ref": "#/components/schemas/ReplyStatus"
                  },
                  "is_reshare": {
                    "$ref": "#/components/schemas/Re-shareStatus"
                  },
                  "is_nsfw": {
                    "$ref": "#/components/schemas/NSFWStatus"
                  },
                  "is_spoiler": {
                    "$ref": "#/components/schemas/SpoilerStatus"
                  }
                },
                "required":[
                  "body",
                  "is_nsfw",
                  "is_spoiler"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref":"#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref":"#/components/responses/JSONError"
          },
          "403": {
            "$ref":"#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/feed/explore": {
      "get": {
        "security": [
          {
          },
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "feed"
        ],
        "operationId": "getFeedExplore",
        "summary": "(optional authentication) Explore feed posts.",
        "description": "This endpoint will retrieve the an unpersonalised feed.",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/feed/home": {
      "get": {
        "security": [
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "feed"
        ],
        "operationId": "getFeedHome",
        "summary": "Get the user's personal feed",
        "description": "This endpoint will retrieve the authenticated user's personal feed.",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/feed/messages/{messageID}": {
      "get": {
        "security": [
          {
          },
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "feed"
        ],
        "operationId": "getFeedMessagesDetails",
        "summary": "Get the feed message's details",
        "description": "This endpoint will retrieve a feed message's details.",
        "parameters": [
          {
            "in": "path",
            "name": "messageID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the message."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/feed/messages/{messageID}/update": {
      "post": {
        "security": [
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "feed"
        ],
        "operationId": "postFeedMessagesUpdate",
        "summary": "Update the feed message's details",
        "description": "This endpoint will update a feed message's details.",
        "parameters": [
          {
            "in": "path",
            "name": "messageID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the message."
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type":"object",
                "properties": {
                  "body": {
                    "type":"string",
                    "description":"Text in the feed message."
                  },
                  "is_nsfw": {
                    "$ref": "#/components/schemas/NSFWStatus"
                  },
                  "is_spoiler": {
                    "$ref": "#/components/schemas/SpoilerStatus"
                  }
                },
                "required":[
                  "body",
                  "is_nsfw",
                  "is_spoiler"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/feed/messages/{messageID}/replies": {
      "get": {
        "security": [
          {
          },
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "feed"
        ],
        "operationId": "getFeedMessagesReplies",
        "summary": "Get the feed message's replies",
        "description": "This endpoint will retrieve a feed message's replies.",
        "parameters": [
          {
            "in": "path",
            "name": "messageID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the message."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/feed/messages/{messageID}/heart": {
      "post": {
        "security": [
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "feed"
        ],
        "operationId": "postFeedMessagesHeart",
        "summary": "Heart or un-heart a feed message.",
        "description": "This endpoint will heart or un-heart a feed message.",
        "parameters": [
          {
            "in": "path",
            "name": "messageID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the message."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/feed/messages/{messageID}/delete": {
      "post": {
        "security": [
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "feed"
        ],
        "operationId": "postFeedMessagesDelete",
        "summary": "Delete a feed message",
        "description": "This endpoint will delete a feed message.",
        "parameters": [
          {
            "in": "path",
            "name": "messageID",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the message."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/me": {
      "get": {
        "security": [
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "me"
        ],
        "operationId": "getMe",
        "summary": "Authenticated user profile details.",
        "description": "This endpoint will retrieve the details of the authenticated user's profile.",
        "parameters": [
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      },
      "post": {
        "security": [
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "me"
        ],
        "operationId": "postMe",
        "summary": "Updates profile information.",
        "description": "This endpoint will update the authenticated user's profile information.",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "The new username to set. Send only if user is allowed to change username."
                  },
                  "biography": {
                    "type": "string",
                    "description": "The new biography to set. Send <strong>null</strong> to remove."
                  },
                  "profileImage": {
                    "type": "string",
                    "format": "binary",
                    "description": "The new user's profile image. Send <strong>null</strong> to remove."
                  },
                  "bannerImage": {
                    "type": "string",
                    "format": "binary",
                    "description": "The new user's banner image. Send <strong>null</strong> to remove."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/me/access-tokens": {
      "get": {
        "security": [
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "me"
        ],
        "operationId": "getMeAccessTokens",
        "summary": "Get a list of access tokens.",
        "description": "This endpoint will retrieve a list of access tokens for the authenticated user.",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "example": 25,
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "description": "The limit on the number of objects, or number of objects in the specified relationship, that are returned. The default value is 25 and the maximum value is 100."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "minimum": 1
            },
            "required": false,
            "description": "The next page or group of objects to fetch. The default value is 1."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/me/access-tokens/{accessToken}": {
      "get": {
        "security": [
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "me"
        ],
        "operationId": "getMeAccessTokensAccessToken",
        "summary": "Fetch session details.",
        "description": "This endpoint will retrieve the details of an access token.",
        "parameters": [
          {
            "in": "path",
            "name": "accessToken",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The access token whose details to retrieve."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/me/access-tokens/{accessToken}/update": {
      "post": {
        "security": [
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "me"
        ],
        "operationId": "postMeAccessTokenUpdate",
        "summary": "Updates access token.",
        "description": "This endpoint will update the information of an authenticated user's access token.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "apn_device_token": {
                    "type": "string",
                    "description": "The new APN device token for the access token."
                  }
                },
                "required": [
                  "apn_device_token"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "accessToken",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the access token to be updated."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostAccessTokensUpdateSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/me/access-tokens/{accessToken}/delete": {
      "post": {
        "security": [
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "me"
        ],
        "operationId": "postMeAccessTokensDelete",
        "summary": "Delete an access token.",
        "description": "This endpoint will delete an authenticated user's access token.",
        "parameters": [
          {
            "in": "path",
            "name": "accessToken",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the access token to be deleted."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JSONSuccess"
          },
          "400": {
            "$ref": "#/components/responses/JSONError"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationError"
          }
        }
      }
    },
    "/me/favorites": {
      "get": {
        "security": [
          {
            "bearerAuth": [
            ]
          }
        ],
        "tags": [
          "me"
        ],
        "operationId": "getMeFavorites",
        "summary": "Get an overview of the user's favorites.",
        "description": "This endpoint will retrieve the list of objects in the authenticated user's favorites.",
        "parameters": [
          {
            "in": "query",
            "name": "library",
            "schema": {
              "$ref": "#/components/schemas/LibraryKind"
            },
            "required": true,
[...]
