/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 */
@tailwind base;

html, body {
  @apply h-full
  w-full
  scroll-smooth;
}

::selection {
  @apply text-white
  bg-orange-500;
}

/**
 * Remove the default box-shadow for invalid elements to prevent
 * inputs in Livewire components showing with a
 * red border by default in Firefox.
 */
input:invalid, textarea:invalid, select:invalid {
  box-shadow: none;
}

/**
 * This injects any component classes registered by plugins.
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 */

/* Global styles */
ul, ol {
  margin: 1em 0 1em 1.1em;
}

body {
  @apply flex
  flex-col
  text-neutral-750
  leading-snug
  tracking-tight
  dark:text-white;

  quotes: "“" "”";
}

main {
  @apply flex-grow;
}

picture::before {
  @apply absolute
  block
  bg-transparent
  h-full
  w-full;

  content: "";
}

/* Hide reCAPTCHA */
.grecaptcha-badge {
  @apply invisible;
}

/**
 * This injects all of Tailwind's utility classes, generated based on the
 * config file.
 */
@tailwind utilities;
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    @apply hidden;
  }

  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .text-unset {
    text-align: unset;
  }

  .natural-shadow {
    filter: url('data:image/svg+xml,\
    <svg xmlns="http://www.w3.org/2000/svg">\
      <filter id="naturalShadow" x="-5" y="-5" width="10" height="10">\
        <feOffset in="SourceGraphic" dx="0" dy="4" />\
        <feGaussianBlur stdDeviation="10" result="blur" />\
        <feMerge>\
          <feMergeNode in="blur"/>\
          <feMergeNode in="SourceGraphic"/>\
        </feMerge>\
      </filter>\
    </svg>#naturalShadow');
  }

  .natural-shadow-lg {
    filter: url('data:image/svg+xml,\
    <svg xmlns="http://www.w3.org/2000/svg">\
      <filter id="naturalShadow" x="-10" y="-10" width="20" height="20">\
        <feOffset in="SourceGraphic" dx="0" dy="4" />\
        <feGaussianBlur stdDeviation="20" result="blur" />\
        <feMerge>\
          <feMergeNode in="blur"/>\
          <feMergeNode in="SourceGraphic"/>\
        </feMerge>\
      </filter>\
    </svg>#naturalShadow');
  }

  /**
   * Theme utilities
   */
  .bg-primary {
    background-color: var(--background-color);
  }
  .bg-tinted {
    background-color: var(--tinted-background-color);
  }
  .text-primary {
    color: var(--text-color);
  }
  .blur-bg-color {
    background-color: var(--blur-background-color);
  }
  .tint-color {
    color: var(--tint-color);
  }
  .border-color {
    border-color: var(--border-color);
  }
  .tinted-buttonText-color {
    color: var(--tinted-button-text-color);
  }
  .primary-separator-color {
    color: var(--primary-separator-color);
  }
  .secondary-separator-color {
    color: var(--secondary-separator-color);
  }
  .sub-text-color {
    color: var(--sub-text-color);
  }
}

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 */

img:not([src]):not([srcset]) {
  visibility: hidden;
}

.app-theme {
  --background-color: #FFFFFF;
  --text-color: #333333;
  --tint-color: #FF9300;
  --tinted-background-color: #FF9300;
  --blur-background-color: #8b5cf6;
  --tinted-button-text-color: #FFFFFF;
  --primary-separator-color: #5b5b5b;
  --secondary-separator-color: #919191;
  --sub-text-color: #5b5b5b;
}

[x-cloak] {
  display: none !important;
}

[target^="_blank"]::after {
  content: "\0020\2197";
  white-space: nowrap;
}

[disabled] {
  cursor: default;
  pointer-events: none;
  opacity: 25%;
}

/**
 * This injects all of Tailwind's screen classes, generated based on the
 * config file.
 */
@tailwind variants;
