/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 */
@tailwind base;

/**
 * Remove the default box-shadow for invalid elements to prevent
 * inputs in Livewire components showing with a
 * red border by default in Firefox.
 */
input:invalid, textarea:invalid, select:invalid {
  box-shadow: none;
}

/**
 * This injects any component classes registered by plugins.
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 */

/* Global styles */
html, body {
  @apply h-full
  w-full;
}

ul, ol {
  margin: 1em 0 1em 1.1em;
}

body {
  @apply flex
  flex-col
  leading-snug
  dark:text-white
  tracking-tight;
  color: #333333;
  quotes: "“" "”";
}

main {
  @apply flex
  flex-col
  flex-grow;
}

/* Placeholder styles */
/* Anime placeholders */
.anime-poster {
  @apply bg-center
  bg-cover
  bg-no-repeat
  border-2
  border-gray-100
  border-opacity-25
  rounded-lg
  shadow-lg;
  margin: 10px auto 0;
  width: 180px;
  height: 268px;
  background-size: 180px 268px;  /* ratio 45:67 */
}

/* User placeholders */
.profile-image {
  @apply bg-center
  bg-cover
  bg-no-repeat
  border-2
  border-gray-100
  border-opacity-25
  rounded-full
  shadow-lg;
  margin: 10px auto 0;
  width: 150px;
  height: 150px;
  background-size: 150px 150px;
}

/**
 * This injects all of Tailwind's utility classes, generated based on the
 * config file.
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 */

[x-cloak] {
  display: none;
}

/**
 * This injects all of Tailwind's screen classes, generated based on the
 * config file.
 */
@tailwind screens;
