@import '~plyr/dist/plyr.css';

/* Global styles */
:root {
    --plyr-color-main: theme('colors.orange.500');
}

/* Player styles */
.plyr {
    width: 100%;
    height: 100%;
}

.plyr .plyr__video-wrapper {
    height: 100%;
}

.plyr__poster {
    background-size: cover;
}

/* YouTube styles */
.plyr iframe[id^=youtube] {
    top: -50%;
    height: 200%;
    pointer-events: none;
}
